<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Watch stream</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Edit</th>
            <th scope="col">Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stream of streams">
            <th><a class="btn btn-primary" href="#" role="button" routerLink="/watch/{{ stream.id }}">Play</a></th>
            <th>{{ stream.id }}</th>
            <td>{{ stream.name }}</td>
            <td>{{ stream.description }}</td>
            <th><a class="btn btn-primary" href="#" role="button" routerLink="/stream-add/{{ stream.id }}">Edit</a></th>
            <th><a class="btn btn-primary" href="#" role="button" (click)="deleteStream(stream)">Remove</a></th>
        </tr>
    </tbody>
</table>